<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>TO DO LIST</h1>
    <h3 id="NoTodos">
      <%= foundTodos.length > 0 ? "" : "There are no To Dos yet!" %>
    </h3>

    <ul>
      <% for(let i = 0; i < foundTodos.length; i++) { %>
      <li>
        <%= foundTodos[i].todo %> <span></span> <%= foundTodos[i].done %> <% }
        %>
      </li>
    </ul>

    <form action="/" method="POST">
      <input type="text" name="todo" required />
      <button onclick="removeH3()">ADD TO DO</button>

      <br />
    </form>
    <script>
      function removeH3() {
        console.log("removeH3");
        document.getElementById("NoTodos").innerHTML = "";
      }
    </script>
  </body>
</html>
